<img ng-src="{{product.imageurl}}" class="product">

<h1>{{product.name}}</h1>

<p>{{product.snippet}}</p>

<p>Price: {{product.price}}</p>
<p>Stock: {{product.stock}}</p>

<div ng-controller="CartCtrl">
  <!-- <a ng-href="#addtocart" ng-click="add()" class="thumb"><img src="img/add-to-cart-dark.png"/></a> -->
  <input class="thumb" type="image" src="img/add-to-cart-dark.png" value="Add" ng-click="add(product)">
  <i class="icon-shopping-cart"></i>
  <input class="thumb" type="image" src="img/remove-from-cart-dark.png" value="Add" ng-click="remove(product)">
</div>
